In [15]:
import os
import sys
sys.path.insert(0, '../src/services/')

from krakenPublicDataService import get_formatted_data

In [16]:
raw_data = get_formatted_data('GRTEUR', '5')

--------------------------------------------------
 [QUERY] - Kraken -  GRTEUR on 5min

In [17]:
raw_data

,timestamp,open,high,low,close,vwap,volume,count
0,1630218900,0.77179,0.77263,0.77179,0.77263,0.77215,21967.974304,10.0
1,1630219200,0.77263,0.77263,0.77263,0.77263,0.00000,0.000000,0.0
2,1630219500,0.77263,0.77263,0.77263,0.77263,0.00000,0.000000,0.0
3,1630219800,0.76864,0.76864,0.76864,0.76864,0.76864,130.825539,1.0
4,1630220100,0.76864,0.76864,0.76864,0.76864,0.00000,0.000000,0.0
...,...,...,...,...,...,...,...,...
715,1630433400,0.73648,0.73871,0.73648,0.73871,0.73655,383.355169,2.0
716,1630433700,0.73871,0.73871,0.73871,0.73871,0.00000,0.000000,0.0
717,1630434000,0.73658,0.73680,0.73596,0.73596,0.73666,9677.847136,7.0
718,1630434300,0.74048,0.74048,0.74048,0.74048,0.74048,675.063131,1.0
719,1630434600,0.74156,0.74156,0.74156,0.74156,0.74156,66.434680,1.0